body{
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background: linear-gradient(to top, rgba(18, 61, 87, 1) 34%, rgba(0, 0, 0, 0.6) 33%, rgba(18, 61, 87, 1) 34%);
    background-image: url(R.png);
    background-repeat: no-repeat;
    background-size: cover;

}

.container{
    margin-left: auto;
    margin-right: auto;
    width: 500px;
    height: 600px;
    margin-top: 10px;
    border: 6px solid white;
    border-radius: 10px;
    background: linear-gradient(to top, rgba(18, 61, 87, 1) 34%, rgba(0, 0, 0, 0.6) 33%, rgba(18, 61, 87, 1) 34%);
    border-bottom: 10px solid rgb(214, 243, 87);
}

#top{
    margin: 40px;
    color: gold;
    border-bottom: 5px solid red;
    border-radius: 4px;
}

#count-el{
    margin: 30px;
    color: white;
    font-weight: 600;
    font-size: 50px;
}

button{
    margin: 40px;
    padding: 10px 30px;
    border: 4px solid whitesmoke;
    border-radius: 10px;
    font-weight: bold;
    color: white;
    border-bottom: 10px;
    border-right: 60px;
    cursor: pointer;
}

#Increment-btn{
    background-color: darkgreen;
}

#Save-btn{
    background-color: darkred;
}


#save-el{
    color: rgb(149, 248, 62);
    border: 2px solid gray;
    border-bottom: 2px solid greenyellow;
}

#Reset-btn{
    background: red;
}
